/*
* @Author: yanghcc
* @Date:   2017-07-01 20:00:21
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2017-08-26 23:15:48
*/

*{
	margin: 0;
	padding: 0;
}
a{
  text-decoration: none;
  color: #555;
}
ul{
	list-style: none;
}
ul li{
  padding: 30px 0;
}
img{
	border: 0;
}
input, button{
	border: 0;
	outline: none;
	-webkit-appearance:none;
}
.mint-loadmore-top{
	/* padding: 40px 0; */
	/* margin-top: -130px; */
}
